<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css" />
    <title>login</title>
  </head>
  <body>
    <h3>Login Page</h3>
    <div class="col-md-6 col-lg-offset-3">
      <form>
        {% csrf_token %}
        <div class="form-group">
          <label for="user">Username</label>
          <input type="text" id="user" class="form-control" />
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" id="pwd" class="form-control" />
        </div>
        <div class="form-group">
          <label for="verification_code">Verification code</label>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" id="verification_code" />
            </div>
            <div class="col-md-6">
              <img
                src="/get_verification_code_img/"
                width="420"
                height="47"
                id="verification_code_img"
              />
              <small class="form-text text-muted"
                >Click on image to reload another verification code</small
              >
            </div>
          </div>
        </div>
        <input type="button" class="btn btn-primary login-btn" value="submit" />
        <span class="error"></span>
      </form>
    </div>

    <script src="/static/blog/js/jquery-3.6.0.min.js"></script>
    <script>
      // Update verification code image (reload partially login page - img only)
      $("#verification_code_img").click(function () {
        $(this)[0].src += "?";
      });

      // Submit verification
      $(".login-btn").click(function () {
        $.ajax({
          url: "", //current page /login
          type: "POST",
          data: {
            user: $("#user").val(),
            pwd: $("#pwd").val(),
            verification_code: $("#verification_code").val(),
            csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
          },
          success: function (data) {
            console.log(data);

            if (data.user) {
              location.href = "/index/";
            } else {
              $(".error")
                .text(data.message)
                .css({ color: "red", "margin-left": "10px" });
              // Delete error message in 5 seconds
              // setTimeout(function(){
              //   $(".error").text("")
              // }, 5000)
            }
          },
        });
      });
    </script>
  </body>
</html>
